.btn-buscar{
  margin-top: -10px;
}
.buscar{
  margin-top: 8px;
}
.panel-main{
  margin: 0px 0px 0px 10px;
}
.profesores{
  margin-top: 5px;
}
.button-group-actions{
  margin-top: -10px;
  text-align:right;
}
.titulo_table{
  text-align: right;
}
.combo{
  margin-top: 12px;
 
}

.card-bootom{
	margin-top: 20px;
}

.loader {
  background:black url('/assets/img/animation3.gif') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}
.avatarImage{
  margin-top:  27px;
}
