.btn-buscar{
  margin-top: -10px;
}
.buscar{
  margin-top: 8px;
}
.panel-main{
  margin: 0px 0px 0px 10px;
}
.profesores{
  margin-top: 5px;
}
.button-group-actions{
  margin-top: -10px;
  text-align:right;
}
.titulo_table{
  text-align: right;
}
