.btn-buscar{
  margin-top: -10px;
}
.buscar{
  margin-top: 8px;
}
.panel-main{
  margin: 0px 0px 0px 10px;
}
.profesores{
  margin-top: 5px;
}
.button-group-actions{
  margin-top: -10px;
  text-align:right;
}
.titulo_table{
  text-align: right;
}
.combo{
  margin-top: 12px;
 
}

.card-bootom{
	margin-top: 20px;
}

.loader {
  background:black url('/assets/img/animation3.gif') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}
.avatarImage{
  margin-top:  27px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

table, th, td {
   
    text-align: left;
}